.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #B384A7;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #81657C;
}


body, html {
  height: 100%; /* Ensures the body and html are 100% height */
  margin: 0; /* Removes any default margin */
}

.App > * {
  flex-grow: 1; /* Makes the content grow and push the footer to the bottom if needed */
}
